---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
        <div>
          <a href="about"><button type="button" class="btn btn-light">Learn More</button></a>
          <a href="#contact"><button type="button" class="btn btn-primary">Contact Us</button></a>
        </div>
        <!--{% if page.show_call_box %}
          {% include call.html show_button=true %}
        {% endif %}-->
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-4 pb-6 pb-md-3">
    <h1 class="pb-2">Why Ceramapower?</h1>
    {% for feature in site.data.features %}
      <div class="pb-4">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              {{ feature.title }}
            </h2>
            <p>{{ feature.description }}</p>
          </div>
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <div class="small">
            <small>Source: <a href="{{ feature.source }}">{{ feature.source }}</a></small>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="strip strip-grey align-center" id="contact">
  <div class="container pt-4 pb-25 pb-md-10 text-center">
    <h1 class="">Contact Us</h1>
    <p class="pb-1">Are you a laptop manufacturer interested in using CeramaPower? We're excited to help you!</p>
    <p class="pb-1"><a href="mailto:{{ .site.data.contact.email }}"><button type="button" class="btn btn-primary">Contact Us</button></a></p>
    <p>Email: <a href="mailto:{{ .site.data.contact.email }}">
      {{ site.data.contact.email }}
    </a></p>
  </div>
</div>